.container-block {
  padding: 6px 6px;
  @include response('sm') {
    padding: 10px 10px;
  }

  > .block-header {
    padding: 0 0 6px 0;

    @include response('sm') {
      padding: 0 0 10px 0;
    }
  }

  > .block-header.align-center {
    justify-content: center;
  }

  > .block-header.align-right {
    justify-content: flex-end;
  }

  > .block-body {
    border-radius: $theme-border-radius-base;
  }

  .block-title {
    margin-bottom: rem(4px);
    @extend %h2;
  }

  .block-sub-title {
    margin-bottom: rem(4px);
    color: #969696;
    @extend %p;
  }
}

.container-block.is-no-padding {
  padding: 0 !important;
  > .block-header {
    padding: 0 0 6px 0;

    @include response('sm') {
      padding: 0 0 10px 0;
    }
  }
}

.container-block.is-flexible {
  > .block-body > .block-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &.is-same-height {
    .container-block {
      display: flex;
      flex-direction: column;
    }

    .container-block > .block-body {
      height: 100%;
    }
  }
}

.container-block.is-full-height {
  height: 100%;

  > .block-body {
    height: 100%;
  }

  > .block-body > .block-row {
    height: 100%;
  }
}

.container-block.is-bg {
  > .block-header {
    background: $theme-color-white;
  }
  > .block-body {
    background: $theme-color-white;
  }

  &.is-bg-dark {
    > .block-header {
      background: $theme-color-white;
    }
    > .block-body {
      background: $theme-color-white;
    }    
  }
}

.container-block.is-inner-bg {
  > .block-body {
    background: $theme-color-white;
  }

  &.is-bg-dark {
    > .block-body {
      background: $theme-color-white;
    }    
  }
}

.container-block.is-inner-padding {
  > .block-body {
    padding: 6px 6px;

    @include response('sm') {
      padding: 10px 10px;
    }
  }
}

.container-block.has-header {
  display: flex;
  flex-flow: column;
  
  > .block-header {
    border-top-left-radius: $theme-border-radius-base;
    border-top-right-radius: $theme-border-radius-base;
  }

  > .block-body {
    flex-grow: 1;
    // height: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $theme-border-radius-base;
    border-bottom-right-radius: $theme-border-radius-base;
  }
}

.container-block.has-header.flex-direct-row {
  flex-flow: row;

  > .block-body {
    width: inherit;
    height: 100%;
  }
}

.container-block.is-no-header-padding {
  > .block-header {
    padding: 0;
  }
}

.container-block.is-body-flexible {
  .block-body {
    display: flex;
    width: 100%;

    > .block-row {
      width: 100%;  
    }
  }

  .block-body.flex-direct-row {
    flex-direction: row;
  }

  .block-body.flex-direct-column {
    flex-direction: column;
  }
}

.container-block.is-flow-reverse {
  flex-flow: column-reverse;

  > .block-header {
    padding: 0 6px 6px 6px;

    @include response('sm') {
      padding: 0 10px 10px 10px;
    }
  }
}

.container-block.is-outspread {
  margin: -6px;
  
  @include response('sm') {
    margin: -10px;
  }
}
