.full-page-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1020;
  overflow: auto;

  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    opacity: 0.95;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: -1;
  }

  .dialog-container {
    width: 768px;
    margin: 0 auto;
    padding: 60px 32px 0;
  }

  .dialog-title {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $theme-text-color;
    margin-bottom: 32px;
  }

  .dialog-body {
    margin-bottom: 16px;
  }

  .dialog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dialog-button-block {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      .btn {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
