.sy-meta-table {
  position: relative;
  overflow: auto;
  z-index: 100;
  border-radius: $theme-border-radius-base;

  .meta-table-top-area {
    padding: rem(16px);
    overflow: auto;
  }

  .meta-table-top-area-right {
    float: right;
  }

  .sy-table {
    border-top: 1px solid #d4d4d4;

    &.el-table {
      background-color: transparent;
    }

    &.el-table th {
      background: var(--color-bg-5);
      border-bottom: 2px solid #d4d4d4;
    }

    &.el-table td {
      border-bottom: 1px solid #d4d4d4;
    }

    .el-table__fixed {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .el-table__body tr.current-row > td {
    background-color: transparent;
  }
}