.popup-guiding {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 3000;

    &:before {
        position: fixed;
        right: 0;
        bottom: 0;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.58);
    }

    .popup-container {
        width: 83.33%;
        margin: 0 auto;

        @include response('xl') {
            width: 1000px;
        }
    }

    .popup-guiding-main {
        position: relative;
        top: 32px;
        width: 72%;
        background-color: $theme-color-white;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin: 0 auto;
        padding: 13px 0 30px;

        @include response('xl') {
            width: 1200px;
            top: 70px;
        }
    }

    .btn-close {
        position: absolute;
        top: 15px;
        right: 15px;

        .close-icon {
            font-size: 20px;
            color: #828282;
        }
    }

    .popup-guiding-top {
        display: flex;
        margin-bottom: 16px;

        @include response('xl') {
            margin-bottom: 20px;
        }

        .step {
            width: 33.33%;
            opacity: 0.1;
            display: flex;
            align-items: center;
            font-size: 22px;
            letter-spacing: 0.05em;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &.is-actived {
                opacity: 1;
                font-weight: 700;
            }
        }

        .step-label {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background-color: $theme-color-primary;
            border-radius: 50%;
            color: $theme-color-white;
            margin-right: 1rem;
            font-size: 20px;

            @include response('xl') {
                width: 45px;
                height: 45px;
                line-height: 45px;
                font-size: 28px;
            }
        }
    }

    .guide-title-block {
        background-color:  #78A5A9;
        color: #fff;
        font-size: 16px;
        line-height: 33px;
        padding: 4px 0;
        margin-bottom: 20px;

        @include response('xl') {
            font-size: 18px;
            padding: 15px 0;
        }
    }

    .popup-guiding-center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .img-block {
            position: relative;
        }

        .pic {
            display: block;
            opacity: 0;
            width: 0;
            height: 0;
            transition: opacity 300ms ease-in-out;

            &.is-actived {
                opacity: 1;
                width: 100%;
                height: auto;
            }
        }        
    }

    .step-control-block {
        flex: 1;
    }

    .step-control, .btn-finish {
        font-size: 14px;

        @include response('xl') {
            font-size: 16px;
        }
    }

    .step-control {
        color: $theme-text-color;

        &:hover {
            color: $theme-color-primary;
        }
    }

    .btn-finish {
        color: $theme-color-primary;
        background-color: #fff;
        border: 1px solid $theme-color-primary;
        padding: 10px 15px;
        border-radius: 4px;
        transition: all 0.3s;

        &:hover {
            color: #fff;
            background-color: $theme-color-primary;
        }
    }
}

@keyframes popupGuidingShrinking {
    0%{width: 100%; height: 100%;}
    100%{width: 0%; height: 0%;}
}

@keyframes popupGuidingOpacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes popupDisappear {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.popup-leave-active {
    animation: popupGuidingShrinking 0.5s ease 0s 1 alternate;

    &:before {
        animation: popupDisappear  0.5s ease 0.2s;
    }
}
  
.popup-enter-active {
    animation: popupGuidingOpacity 0.5s ease 0s 1 alternate;
}