.page-preview-bookmark {
  
  .preview-bookmark-select {
    margin-bottom: rem(20px);
  }

  .preview-bookmark-card-inner {
    padding: 6px 6px;

    @include response('sm') {
      padding: 10px 10px;
    }
  }
}