.quick-starts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 rem(-16px);

  .quick-starts-item {
    flex: 1;
    min-width: rem(220px);
    margin: rem(16px);
    padding: rem(16px);
    cursor: pointer;
    text-align: left;
    border-top: 4px solid $theme-color-primary;
    border-radius: $theme-border-radius-base;
    background: $theme-color-white;
    box-shadow: $theme-box-shadow-m;
  }
}