.result-board {
  background: var(--color-bg-5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 48px;

  &.has-filter {
    .board-header {
      border-top: 5px solid $filter-color;
    }
    .result-board-title .question-mark {
      background-color: $filter-color;
    }
  }

  .board-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 28px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
    border-top: 5px solid $theme-color-primary;
  }

  .header-block {
    flex: 1;
  }

  .board-body {
    padding: 16px 24px 24px;
  }
}
