.sy-select.theme-default {
  .el-input__inner {
    border: 0;
    border-radius: 0;
    color: $theme-text-color;
    background: transparent;
    @extend %p;
    padding-left: 0;
    height: 36px;
    line-height: 36px;

    &::placeholder {
      color: $theme-placeholder-color;
    }
  }

  &.el-select .el-input .el-select__caret {
    color: $theme-text-color;
  }

  .el-input__suffix {
    right: 0;
    top: 3px;
  }

  &.el-select:hover .el-input__inner,
  &.el-select .el-input__inner:focus,
  &.el-select .el-input.is-focus .el-input__inner {
    border-color: $theme-text-color-light;
  }
}

.sy-select.theme-dark {
  .el-input__inner {
    border: 0;
    border-radius: 0;
    color: #ffffff;
    background: transparent;
    @extend %p;

    &::placeholder {
      color: #ffffff;
    }
  }

  &.el-select .el-input .el-select__caret {
    color: #ffffff;
  }

  &.el-select:hover .el-input__inner,
  &.el-select .el-input__inner:focus,
  &.el-select .el-input.is-focus .el-input__inner {
    border-color: #ffffff;
  }

  .el-input--suffix .el-input__inner {
    padding-right: 0;
  }
}
