@import '../../../sy-vue-ui/src/styles/common/variables.scss';
@import '../../../sy-vue-ui/src/styles/common/composes/texts.scss';

.display-index-number-diff {
  p {
    margin: 0;
    line-height: 1.35;
  }

  .row-label,
  .row-diff { display: flex; }

  .row-label {
    min-height: 42px;
    justify-content: space-between;
    align-items: center;
  
    .label {
      margin-right: 6px;
    }

    .value {
      color: $theme-color-primary-dark;
      font-size: 22px;
      font-weight: $theme-font-weight-semi-bold;
    }
  }

  .row-diff {
    margin-top: 8px;
    .value {
      font-size: $theme-font-size-xxx-large;
      font-weight: $theme-font-weight-bold;
      margin-right: 5px;
    }

    .icon {
      display: flex;
      flex-direction: column;
      font-size: $theme-font-size-xxx-large;
      position: relative;
    }

    i {
      position: absolute;
      &.el-icon-caret-top { top: 50%; transform: translateY(-50%)}
      &.el-icon-caret-bottom { top: 50%; transform: translateY(-50%)}
      &.icon-dash {
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        border: 1px dashed #9fd5d5;
        width: 18px;
      }
    }
  }

  .row-diff.is-increase {
    color: $theme-color-primary;
  }

  .row-diff.is-decrease {
    color: $theme-color-danger;
  }
}

.index-number {
  
}