$setting-button-block-height: 60px;
$setting-header-height: 57px;

.war-room-setting {
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  width: 280px;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px 26px;
    border-bottom: 1px solid #464A50;
    height: $setting-header-height;
  }

  &__close-icon {
    cursor: pointer;
  }

  &__header-icon {
    color: #2AD2E2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - #{$setting-header-height});
  }

  &__block-container {
    overflow: auto;
    height: calc(100% - #{$setting-button-block-height});
  }

  &__block {
    padding: 16px 26px;
    border-bottom: 1px solid #464A50;
  }

  &__block-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #AAAAAA;
    font-weight: 600;
  }

  &__block-text-input {
    line-height: 39px;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
  }

  &__block-choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
  }

  &__block-select {
    width: 100%;
    /deep/ .el-input__inner {
      padding-left: 0;
      border-bottom: 1px solid #FFFFFF;
    }
  }

  &__block-select-field {
    margin-top: 8px;
  }

  &__block-date-field {
    margin-top: 8px;
  }

  &__block-text-label {
    display: block;
    margin-top: 16px;
    border: 0;
  }

  &__button-block {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    height: $setting-button-block-height;
    background: rgba(35, 61, 64, 0.6);
  }

  .date-picker {
    &__container {
      display: flex;
      align-items: center;
    }

    &__seperator {
      padding: 0 8px;
    }

    &__reminder {
      margin-top: 8px;
      color: #FFDF6F;
      font-size: 12px;
    }

    /deep/ .el-input,
    .el-input.is-disabled .el-input {
      &__prefix {
        display: none;
      }

      &__suffix {
        right: -3px;
      }

      &__inner {
        border: none;
        border-bottom: 1px solid #FFFFFF;
        border-radius: 0;
        font-size: 16px;
        padding-left: 0;
        padding-right: 20px;
        background-color: transparent;
        color: $theme-text-color;
      }
    }

    /deep/ .el-input.is-disabled .el-input {
      &__inner {
        opacity: .5;
      }
    }
  }

  /deep/ .el-input.is-disabled .el-input__inner {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0;
    font-size: 16px;
    padding-left: 0;
    padding-right: 20px;
    background-color: transparent;
    color: $theme-text-color;
  }
}

