.sy-meta-table {
  position: relative;
  overflow: auto;
  z-index: 100;
  border: 1px solid #d4d4d4;
  border-radius: $theme-border-radius-base;

  .meta-table-top-area {
    padding: rem(16px);
    overflow: auto;
    background: $theme-color-gs-bright;
  }

  .meta-table-top-area-right {
    float: right;
  }

  .sy-table {
    border-top: 1px solid #d4d4d4;

    &.el-table th {
      border-bottom: 2px solid #d4d4d4;
    }

    &.el-table td {
      border-bottom: 1px solid #d4d4d4;
    }
  }
}