.sy-speech-autocomplete-input {
  width: 100%;
  .el-input__suffix, .el-input__prefix {
    font-size: 22px;
    cursor: pointer;
    color: $theme-color-primary-dark;
  }
  .el-input__suffix:hover, .el-input__prefix:hover {
    font-size: 22px;
    cursor: pointer;
    color: $theme-color-primary-dark;
  }
  &.is-recognizing {
    .el-input__suffix, .el-input__prefix {
      font-size: 22px;
      cursor: pointer;
      color: $theme-color-danger;
    }
    .el-input__suffix:hover, .el-input__prefix:hover {
      font-size: 22px;
      cursor: pointer;
      color: $theme-color-danger;
    }
  }
}

.autocomplete-item {
  li {
    display: flex;
    justify-content: space-between;
    line-height: normal;
    padding: 7px;

    .value {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .info {
      font-size: 12px;
      color: #b4b4b4;
    }
  }
}
