// normalize
@import "normalize-scss";
@include normalize();

// common
@import './common/variables';
@import './common/core';
@import './common/functions';
@import './common/mixins';
@import './common/placeholder/bg';
@import './common/placeholder/texts';
@import './common/animation';

/* 引入element 自定義變數表 */
@import './element-ui/element-variables.scss';
/* 改變element icon字體路徑 必須 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import './element-ui/components';

/* 改變 字體路徑 必須 */
$--font-path: '../assets/fonts/Open_Sans';
@import './common/fonts/OpenSans';
$--font-path: '../assets/fonts/Roboto';
@import './common/fonts/Roboto';

/* components */
@import './components/task-container/container-block';
@import './components/task-container/container-card';
@import './components/popup-guiding';
@import './components/slide';
@import './components/sy/holy-grail';
@import './components/sy/speech-autocomplete-input';
@import './components/sy/select';
@import './components/sy/meta-table';
@import './components/preview-bookmark';
