// normalize
@import "normalize-scss";
@include normalize();

// common
@import './common/variables';
@import './common/theme-color';
@import './common/lang';
@import './common/core';
@import './common/functions';
@import './common/mixins';
@import './common/placeholder/common';
@import './common/placeholder/bg';
@import './common/placeholder/texts';
@import './common/common';
@import './common/button';
@import './common/link';
@import './common/input';
@import './common/checkbox';
@import './common/radio-button.scss';
@import './common/dialog';
@import './common/animation';
@import './common/layout';

@import './element-ui/components';
@import './element-ui/date-picker';
@import './element-ui/el-pagination';

// page
@import './pages/data-management';
@import './pages/user-management';
@import './pages/management-info';
@import './pages/pinboard';
@import './pages/war-room';

// FIXME for poc/foxconn_molding

/**
 * element-ui 的載入方式是參考下方連結，主要是希望按需載入同時不需要重新 build theme
 * https://segmentfault.com/a/1190000014510062
 */
/* 改變element icon字體路徑 必須 */
@import './element-ui/element-variables';
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/autocomplete.scss';
@import '~element-ui/packages/theme-chalk/src/loading.scss';
@import '~element-ui/packages/theme-chalk/src/option.scss';
@import '~element-ui/packages/theme-chalk/src/table.scss';
@import '~element-ui/packages/theme-chalk/src/table-column.scss';

/* 改變 字體路徑 必須 */
$--font-path: '../assets/fonts/Open_Sans';
@import './common/fonts/OpenSans';
$--font-path: '../assets/fonts/Roboto';
@import './common/fonts/Roboto';
$--font-path: '../assets/fonts/Oswald';
@import './common/fonts/Oswald';

/* components */
@import './components/select';
@import './components/dialog';
@import './components/result-board';
@import './components/tooltip';
@import './components/cascader';
@import './components/simulator';

/* chart */
@import './chart/insights';

/* 排程 */
@import '@/schedule/styles/schedule.scss';
