/* 改變ionicons 字體路徑 必須 */
$ionicons-font-path: '~ionicons/dist/fonts';
@import '~ionicons/dist/scss/ionicons.scss';
/* 改變 字體路徑 必須 */
$--font-path: '../assets/fonts/Open_Sans';
@import './common/fonts/OpenSans.scss';
$--font-path: '../assets/fonts/Roboto';
@import './common/fonts/Roboto.scss';

@import './common/core.scss';
@import './components/block.scss';
@import './components/section.scss';
@import './components/holy-grail.scss';
@import './components/table.scss';
@import './components/question-list.scss';
@import './components/speech-autocomplete-input.scss';
@import './components/echarts/index.scss';
@import './components/echarts/addons/tooltip-default.scss';
@import './templates/landing-page.scss';
