@import './common/variables';

// 覆蓋 element-ui 樣式
@import './element-ui/el-tab.scss';
@import './element-ui/el-table';
@import './element-ui/el-collapse.scss';
@import './element-ui/el-date-editor.scss';
@import './element-ui/el-select.scss';
@import './element-ui/el-picker.scss';
@import './element-ui/el-input-number.scss';
@import './element-ui/el-pagination.scss';

// components
@import './components/dialog';
@import './components/_gantt-chart';
@import './components/_card';
