// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

// slide-down
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all .3s ;
}
.slide-down-enter {
  height: auto;
  transform: translateY(-100%);
}
.slide-down-leave-to {
  height: 0;
  transform: translateY(-100%);
}

// fast-fade-in
.fast-fade-in-enter-active {
  transition: opacity .2s;
}

.fast-fade-in-enter {
  opacity: 0
}

.fast-fade-in-leave-active {
  transition: none;
}