//btn variable
$default-btn-color: #1EB8C7;

.btn {
  @include btn();
  height: 36px;
}

.btn-m {
  @include btn();
  height: 30px;
}

.btn-default {
  color: #fff;
  background-color: $button-color;
  border: none;
  transition: background-color 0.3s;

  &:hover, &:active {
    background-color: $theme-color-primary;
    color: #444;
  }

  &:disabled {
    opacity: 0.25;
  }
}

// 排程
.btn-primary {
  color: #fff;
  background-color: $theme-color-primary;
  border: none;
  transition: background-color 0.3s;

  &:hover, &:active {
    background-color: $theme-color-primary;
    color: #444;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.btn-secondary {
  color: $theme-color-primary;
  background-color:  rgba(255, 255, 255, 0.16);
  border: none;
  transition: background-color 0.3s;

  &:hover, &:active {
    background-color: #c7c7c7;
    color: #000;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.btn-outline {
  border: 1px solid $theme-text-color;
  background-color: transparent;
  color: $theme-text-color;
  transition: color 0.3s;

  &:hover, &:active {
    color: $theme-color-primary;
    border-color: $theme-color-primary;
  }

  &:disabled {
    background-color: #F2F2F2;
    border-color: #E0E0E0;
    color: #CCCCCC;
  }
}

.btn-has-icon {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
  }
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #2196F3;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 16px;

    &:before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }
  }
}