.btn {
  font-size: 14px;
  font-weight: 300;
  border-radius: 4px;
  padding: 10px 15px;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-default {
  color: #fff;
  background-color: #43BAC3;
  border: 1px solid #43BAC3;

  &:hover, &:active {
    background-color: #42A5B3;
    border-color: #42A5B3;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.btn-outline {
  border: 1px solid #43BAC3;
  background-color: #fff;
  color: #43BAC3;

  &:hover, &:active {
    color: #42A5B3;
    border-color: #42A5B3;
  }

  &:disabled {
    background-color: #F2F2F2;
    border-color: #E0E0E0;
    color: #CCCCCC;
  }
}