//btn variable
$default-btn-color: $theme-bg-lighter-color;

.btn {
  font-size: 14px;
  font-weight: 300;
  border-radius: 4px;
  padding: 10px 15px;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-default {
  color: #fff;
  background-color: $default-btn-color;
  border: none;
  transition: background-color 0.3s;

  &:hover, &:active {
    background-color: $theme-color-primary;
    color: #444;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.btn-secondary {
  color: #fff;
  background-color: $default-btn-color;
  border: none;
  transition: background-color 0.3s;

  &:hover, &:active {
    background-color: #c7c7c7;
    color: #000;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.btn-outline {
  border: 1px solid $theme-text-color;
  background-color: transparent;
  color: $theme-text-color;
  transition: color 0.3s;

  &:hover, &:active {
    color: $theme-color-primary;
    border-color: $theme-color-primary;
  }

  &:disabled {
    background-color: #F2F2F2;
    border-color: #E0E0E0;
    color: #CCCCCC;
  }
}