/**
 * checkbox
 */
$checkbox-color: $theme-color-primary;
$checkbox-size: 14px;
// Basic control styles
.checkbox-label {
  display: block;
  width: $checkbox-size;
  height: $checkbox-size;
  position: relative;

  // 部分勾選的狀態
  &.indeterminate {
    .checkbox-square:after {
      display: block;
      top: 3px;
      width: 6px;
      height: 6px;
      transform: none;
      border: none;
      background-color: $checkbox-color;
    }

    input:disabled ~ .checkbox-square:after {
      background-color: $theme-bg-darker-color;
    }
  }

  input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
 
  input:checked ~ .checkbox-square {
    background: $checkbox-color;
    border-color: $checkbox-color;

    &:after {
      display: block;
    }
  }
 
  &:hover input:not([disabled]):checked ~ .checkbox-square,
  input:checked:focus ~ .checkbox-square {
    background: $checkbox-color;
  }
 
  input:disabled ~ .checkbox-square {
    background: $theme-bg-darker-color;
    border-color: $theme-bg-darker-color;
    cursor: not-allowed;

    &:after {
      border-color: $theme-bg-darker-color;
    }
  }
}
 
.checkbox-square {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background: transparent;
  border: 1px solid #C3C3C3;
  cursor: pointer;

  &:after {
    display: none;
    content: "";
    color: #fff;
    position: absolute;
    left: 3px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
}