// 錯誤訊息
.error-text {
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #F1616D;
}

.hidden {
  display: none !important;
}

// 欄位驗證錯誤樣式
.has-error {
  input {
    border-color: $theme-color-danger !important;
  }
  .error-text {
    color: $theme-color-danger;
  }
}