
html, body {
  font-family: $theme-font-family-default;
  font-size: 16PX;
  letter-spacing: $theme-letter-spacing-semi-wide;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
}

* {
  box-sizing: border-box;
}

h1 {
  @extend %h1;
}

p {
  @extend %p;
}

a {
  outline: 0;
  text-decoration: none;

  &:active, &:focus, &:visited {
    text-decoration: none;
    outline: 0;
  }

  &:hover {
    outline: 0;
    text-decoration: none;
  }
}