
html, body {
  font-family: $theme-font-family-default;
  font-size: 16px;
  letter-spacing: $theme-letter-spacing-regular;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
  color: $theme-text-color;
}

* {
  box-sizing: border-box;
}

h1 {
  @extend %h1;
}

p {
  @extend %p;
}

a {
  outline: 0;
  text-decoration: none;

  &:active, &:focus, &:visited {
    text-decoration: none;
    outline: 0;
  }

  &:hover {
    outline: 0;
    text-decoration: none;
  }
}

button, input, optgroup, select, textarea {
  font-family: $theme-font-family-default;
}

button {
  cursor: pointer;

  &:active, &:focus, &:visited {
    outline: none !important;
  }
}