
html, body {
  font-family: $theme-font-family-default;
  font-size: 16px;
  letter-spacing: $theme-letter-spacing-regular;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
  color: $theme-text-color;
}

* {
  box-sizing: border-box;
}

h1 {
  @extend %h1;
}

p {
  @extend %p;
}

a {
  outline: 0;
  text-decoration: none;

  &:active, &:focus, &:visited {
    text-decoration: none;
    outline: 0;
  }

  &:hover {
    outline: 0;
    text-decoration: none;
  }
}

button, input, optgroup, select, textarea {
  font-family: $theme-font-family-default;
}

button {
  cursor: pointer;

  &:active, &:focus, &:visited {
    outline: none !important;
  }
}

textarea {
  background-color: transparent;
  resize: none;
  border: none;
  color: $theme-text-color;

  &:focus, &:active {
    outline: none;
  }
}

// scrollbar 樣式
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.45);
}

::-webkit-scrollbar-button {
  background-color: transparent;
  color: #000;
}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
