.input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #aaa;
  color: $theme-text-color;

  &::-webkit-input-placeholder {
    color: $theme-placeholder-color;
  }

  /**
   * 注意這邊是 .valid, 不是 :valid
   * 不用 :valid 是我覺得每次都要在 input 加 required 沒有道理
   */
  &:focus, &.valid {
    outline: none;

    & ~ .placeholder {
      transform: translate3d(0, -28px, 0);
      font-size: 14px;
      letter-spacing: 0.5px;
      color: $theme-text-color;
    }
  }
}

input.input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus, 
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $theme-text-color !important;
    box-shadow: 0 0 0px 1000px $theme-bg-color inset;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 16px;
    caret-color: $theme-text-color;
  }

  &:-internal-autofill-selected {
    background-color: #000 !important;
    color: #fff !important;
  }
}

.input-block {
  position: relative;

  &.has-error {
    .error-text {
      visibility: visible;
      opacity: 1;
      transform: translateY(8px);
    }
  }

  .input {
    height: 32px;
    padding-bottom: 8px;

    &:focus {
      border-color: $theme-color-primary;
    }
  }

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: $theme-placeholder-color;
    cursor: text;
    pointer-events: none;
  }

  .error-text {
    visibility: hidden;
    position: absolute;
    bottom: -16px;
    opacity: 0;
    transition: all 0.3s;
  }
}