.app-layout {
  .wrapper {
    overflow: auto;
    padding: 0 24px;
    width: 100%;
    height: calc(100vh - #{$header-height});
    position: absolute;
    top: $header-height;
    right: 0;

    &--has-chat-room {
      height: calc(100vh - #{$header-height + $chat-room-height});
      top: $header-height + $chat-room-height;
    }

    &--has-basic-df-setting {
      width: calc(100% - #{$basic-df-setting-width});
    }
  }

  .container {
    @extend %maxWidth;
    height: 100%;
  }

  .center {
    margin: 0;
    background: transparent;
    width: 100%;
  }
}

.app-bg {
  @extend %default-bg;
}

.main {
  width: 100%;
}