.app-layout {
  .wrapper {
    height: calc(100vh - #{$header-height});
    overflow: auto;
  }

  .container {
    @extend %maxWidth;
    height: 100%;
  }

  .center {
    margin: 0;
    background: transparent;
    width: 100%;
  }
}

.app-bg {
  @extend %default-bg;
}

.main {
  min-height: calc(100vh - #{$header-height});
  @extend %maxWidth;
}