.link {
  font-size: 14px;
  color: $theme-color-primary;
  text-decoration: underline;
  cursor: pointer;

  &:hover, &:active {
    color: $theme-color-primary;
    text-decoration-line: underline;
  }

  &:disabled {
    opacity: 0.15;
    cursor: not-allowed;
  }
}

.link-with-icon {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
  }
}
