@mixin btn {
  font-size: 14px;
  font-weight: 300;
  border-radius: 4px;
  padding: 0 15px;
  min-width: 72px;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin response($key, $map: $theme-breakpoints-spec) {
  // 循环断点Map，如果存在则返回
  @if map-has-key($map, $key) {
    @media only screen and #{inspect(map-get($map, $key))} {
      @content;
    }
  } @else {
    @warn "Undefeined points: `#{$map}`";
  }
}

@mixin card {
  background-color: $theme-bg-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate3d(0,-5px,0);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@mixin tokenTooltip ($tokenColor) {
  background-color: $tokenColor;

  &.el-tooltip__popper[x-placement^=top] {
    .popper__arrow, .popper__arrow:after {
      border-top-color: $tokenColor;
    }
  }

  &.el-tooltip__popper[x-placement^=bottom] {
    .popper__arrow, .popper__arrow:after {
      border-bottom-color: $tokenColor;
    }
  }
}