@import './variables.scss';

/* custom-media */
@custom-media --xs (max-width: $theme-breakpoint-sm);
@custom-media --sm (min-width: $theme-breakpoint-sm);
@custom-media --md (min-width: $theme-breakpoint-md);
@custom-media --lg (min-width: $theme-breakpoint-lg);
@custom-media --xl (min-width: $theme-breakpoint-xl);

/* for css use */
:root {
  --theme-color-primary: $theme-color-primary;
  --theme-color-primary-dark: $theme-color-primary-dark;
  --theme-color-success: $theme-color-success;
  --theme-color-warning: $theme-color-warning;
  --theme-color-danger: $theme-color-danger;
  --theme-color-info: $theme-color-info;

  --theme-color-white: $theme-color-white;
  --theme-color-black: $theme-color-black;

  --theme-color-primary-light-1: $theme-color-primary-light-1;
  --theme-color-primary-light-2: $theme-color-primary-light-2;
  --theme-color-primary-light-3: $theme-color-primary-light-3;
  --theme-color-primary-light-4: $theme-color-primary-light-4;
  --theme-color-primary-light-5: $theme-color-primary-light-5;
  --theme-color-primary-light-6: $theme-color-primary-light-6;
  --theme-color-primary-light-7: $theme-color-primary-light-7;
  --theme-color-primary-light-8: $theme-color-primary-light-8;
  --theme-color-primary-light-9: $theme-color-primary-light-9;
  
  --theme-color-gs-black: $theme-color-gs-black;
  --theme-color-gs-dark: $theme-color-gs-dark;
  --theme-color-gs-middle: $theme-color-gs-middle;
  --theme-color-gs-light: $theme-color-gs-light;
  --theme-color-gs-bright: $theme-color-gs-bright;
  --theme-color-gs-white: $theme-color-gs-white;

  --theme-font-family-default: $theme-font-family-default;

  --theme-font-size-x-huge: $theme-font-size-x-huge;
  --theme-font-size-huge: $theme-font-size-huge;
  --theme-font-size-xxx-large: $theme-font-size-xxx-large;
  --theme-font-size-xx-large: $theme-font-size-xx-large;
  --theme-font-size-extra-large: $theme-font-size-extra-large;
  --theme-font-size-large: $theme-font-size-large;
  --theme-font-size-medium: $theme-font-size-medium;
  --theme-font-size-small: $theme-font-size-small;
  --theme-font-size-extra-small: $theme-font-size-extra-small;
  --theme-font-size-xx-small: $theme-font-size-xx-small;

  --theme-font-weight-extra-light: $theme-font-weight-extra-light;
  --theme-font-weight-light: $theme-font-weight-light;
  --theme-font-weight-regular: $theme-font-weight-regular;
  --theme-font-weight-semi-bold: $theme-font-weight-semi-bold;
  --theme-font-weight-bold: $theme-font-weight-bold;
  --theme-font-weight-black: $theme-font-weight-black;

  --theme-letter-spacing-small: $theme-letter-spacing-small;
  --theme-letter-spacing-regular: $theme-letter-spacing-regular;
  --theme-letter-spacing-semi-wide: $theme-letter-spacing-semi-wide;
  --theme-letter-spacing-wide: $theme-letter-spacing-wide;
  --theme-letter-spacing-extra-wide: $theme-letter-spacing-extra-wide;
  --theme-letter-spacing-extra2-wide: $theme-letter-spacing-extra2-wide;
  
  --theme-border-radius-small: $theme-border-radius-small;
  --theme-border-radius-base: $theme-border-radius-base;
  --theme-border-radius-large: $theme-border-radius-large;
  --theme-border-radius-extra-large: $theme-border-radius-extra-large;
  
  --theme-box-shadow-s: $theme-box-shadow-s;
  --theme-box-shadow-h: $theme-box-shadow-h;
  --theme-box-shadow-m: $theme-box-shadow-m;
  --theme-box-shadow-l: $theme-box-shadow-l;

  --theme-breakpoint-sm: $theme-breakpoint-sm;
  --theme-breakpoint-md: $theme-breakpoint-md;
  --theme-breakpoint-lg: $theme-breakpoint-lg;
  --theme-breakpoint-xl: $theme-breakpoint-xl;
}

/* for js use */
:export {
  theme-color-primary: $theme-color-primary;
  theme-color-primary-dark: $theme-color-primary-dark;
  theme-color-success: $theme-color-success;
  theme-color-warning: $theme-color-warning;
  theme-color-danger: $theme-color-danger;
  theme-color-info: $theme-color-info;

  theme-color-white: $theme-color-white;
  theme-color-black: $theme-color-black;

  theme-color-primary-light-1: $theme-color-primary-light-1;
  theme-color-primary-light-2: $theme-color-primary-light-2;
  theme-color-primary-light-3: $theme-color-primary-light-3;
  theme-color-primary-light-4: $theme-color-primary-light-4;
  theme-color-primary-light-5: $theme-color-primary-light-5;
  theme-color-primary-light-6: $theme-color-primary-light-6;
  theme-color-primary-light-7: $theme-color-primary-light-7;
  theme-color-primary-light-8: $theme-color-primary-light-8;
  theme-color-primary-light-9: $theme-color-primary-light-9;

  theme-color-gs-black: $theme-color-gs-black;
  theme-color-gs-dark: $theme-color-gs-dark;
  theme-color-gs-middle: $theme-color-gs-middle;
  theme-color-gs-light: $theme-color-gs-light;
  theme-color-gs-bright: $theme-color-gs-bright;
  theme-color-gs-white: $theme-color-gs-white;

  theme-font-family-default: $theme-font-family-default;

  theme-font-size-x-huge: $theme-font-size-x-huge;
  theme-font-size-huge: $theme-font-size-huge;
  theme-font-size-xxx-large: $theme-font-size-xxx-large;
  theme-font-size-xx-large: $theme-font-size-xx-large;
  theme-font-size-extra-large: $theme-font-size-extra-large;
  theme-font-size-large: $theme-font-size-large;
  theme-font-size-medium: $theme-font-size-medium;
  theme-font-size-small: $theme-font-size-small;
  theme-font-size-extra-small: $theme-font-size-extra-small;
  theme-font-size-xx-small: $theme-font-size-xx-small;

  theme-font-weight-extra-light: $theme-font-weight-extra-light;
  theme-font-weight-light: $theme-font-weight-light;
  theme-font-weight-regular: $theme-font-weight-regular;
  theme-font-weight-semi-bold: $theme-font-weight-semi-bold;
  theme-font-weight-bold: $theme-font-weight-bold;
  theme-font-weight-black: $theme-font-weight-black;

  theme-letter-spacing-small: $theme-letter-spacing-small;
  theme-letter-spacing-regular: $theme-letter-spacing-regular;
  theme-letter-spacing-semi-wide: $theme-letter-spacing-semi-wide;
  theme-letter-spacing-wide: $theme-letter-spacing-wide;
  theme-letter-spacing-extra-wide: $theme-letter-spacing-extra-wide;
  theme-letter-spacing-extra2-wide: $theme-letter-spacing-extra2-wide;
  
  theme-border-radius-small: $theme-border-radius-small;
  theme-border-radius-base: $theme-border-radius-base;
  theme-border-radius-large: $theme-border-radius-large;
  theme-border-radius-extra-large: $theme-border-radius-extra-large;

  theme-box-shadow-s: $theme-box-shadow-s;
  theme-box-shadow-h: $theme-box-shadow-h;
  theme-box-shadow-m: $theme-box-shadow-m;
  theme-box-shadow-l: $theme-box-shadow-l;

  theme-breakpoint-sm: $theme-breakpoint-sm;
  theme-breakpoint-md: $theme-breakpoint-md;
  theme-breakpoint-lg: $theme-breakpoint-lg;
  theme-breakpoint-xl: $theme-breakpoint-xl;
}
