@import '../variables.scss';

%h1 {
  // font-size: 32px
  // font-weight: 700
  // letter-spacing: 2px
  font-size: $theme-font-size-huge;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-wide;
}
// title
%h3 {
  // font-size: 22px
  // font-weight: 500
  // letter-spacing:2px
  font-size: $theme-font-size-x-large;
  font-weight: $theme-font-weight-regular;
  letter-spacing: $theme-letter-spacing-wide;
}

%p {
  // font-size: 16px
  // font-weight: 500
  // letter-spacing: 1px
  font-size: $theme-font-size-medium;
  font-weight: $theme-font-weight-regular;
  letter-spacing: $theme-letter-spacing-regular;
}

%p2 {
  // font-size: 14px
  // font-weight: 500
  // letter-spacing: 1px
  font-size: $theme-font-size-small;
  font-weight: $theme-font-weight-regular;
  letter-spacing: $theme-letter-spacing-regular;
}

// FIXME old guideline ------------------

%h2 {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-x-medium;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-wide;
}

/* the main table title */
%t1 {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-x-medium;
  font-weight: $theme-font-weight-semi-bold;
  letter-spacing: $theme-letter-spacing-regular;
}
/* for table title */
%t2 {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-medium;
  font-weight: $theme-font-weight-semi-bold;
  letter-spacing: $theme-letter-spacing-regular;
}

%t3 {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-small;
  font-weight: $theme-font-weight-semi-bold;
  letter-spacing: $theme-letter-spacing-small;
}
/* body fontsize */
%body {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-small;
  font-weight: $theme-font-weight-regular;
  letter-spacing: $theme-letter-spacing-small;
  &:lang(zh-cn) {
    font-size: $theme-font-size-x-small;  
    font-weight: $theme-font-weight-thin;
    letter-spacing: $theme-letter-spacing-regular;
  }
}
/*customize for quickstart*/
%qs {
  fill: $theme-color-primary-dark;
  color: $theme-color-primary-dark;
  font-size: $theme-font-size-small;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-small;
  &:lang(zh-cn) {
    font-size: $theme-font-size-x-small;  
    font-weight: $theme-font-weight-semi-bold;
    letter-spacing: $theme-letter-spacing-regular;
  }
}


/* Font Size -- Chart */

/*Impressive content*/
%cl {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-small;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-regular;
}
/* Main content */
%cm {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-x-small;
  font-weight: $theme-font-weight-semi-bold;
  letter-spacing: $theme-letter-spacing-small;
}
/* Ps. */
%cs {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-xx-small;
  font-weight: $theme-font-weight-regular;
  letter-spacing: $theme-letter-spacing-small;
}

/* PieNum */
%piNum {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-xx-large;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-x-wide;
}

%piTxt {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-small;
  font-weight: $theme-font-weight-semi-bold;
  letter-spacing: $theme-letter-spacing-regular;
  &:lang(zh-cn) {
    font-size: $theme-font-size-x-small;  
    font-weight: $theme-font-weight-thin;
    letter-spacing: $theme-letter-spacing-regular;
  }
}

%wxl {
  fill: $theme-color-gs-white;
  color: $theme-color-gs-white;
  font-size: $theme-font-size-xxx-large;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-x-wide;
}

%wl {
  fill: $theme-color-gs-white;
  color: $theme-color-gs-white;
  font-size: $theme-font-size-xx-large;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-wide;
}

%w1 {
  fill: $theme-color-gs-white;
  color: $theme-color-gs-white;
  font-size: $theme-font-size-x-large;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-wide;
}

%xxl {
  fill: $theme-color-gs-dark;
  color: $theme-color-gs-dark;
  font-size: $theme-font-size-x-huge;
  font-weight: $theme-font-weight-bold;
  letter-spacing: $theme-letter-spacing-wide;
}
