.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1020;
  overflow: auto;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.95);
    opacity: 0.95;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: -1;
  }

  &__inner-box{
    position: relative;
    width: 520px;
    padding: 24px;
    margin: 20% auto;
    background: rgba(50, 58, 58, 0.95);
    box-shadow: 0px 4px 24px rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    text-align: center;

    .dialog-close{
      width: 14px;
      height: 14px;
      position: absolute;
      right: 16px;
      top: 16px;
      color: #fff;
      cursor: pointer;
    }

    .dialog-close:hover{
      opacity: 0.8;
    }
  }

  &__container {
    width: 64%;
    margin: 0 auto;
    padding: 60px 32px;
  }

  &__title {
    position: relative;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__body {
    margin-bottom: 16px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button-block {
    margin-left: 10px;
  }

}