@import '../../common/variables.scss';
@import '../../common/composes/bg.scss';
@import '../../common/functions.scss';

.page-index {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .bg {
    @extend %default-bg;
  }

  .container {
    width: 100%;
    max-width: rem(800px);
    margin-bottom: 20%;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    width: rem(185px);
    margin-top: rem(20px);
    margin-bottom: rem(80px);
  }

  .title {
    margin-bottom: rem(40px);
  }

  .description {
    max-width: 82.5%;
    margin-bottom: rem(68px);
    // 36 / 16
    line-height: 2.25;
    color: #1F2D3D;
  }
}