.insights-info {
  .insights-info-title {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.1em;
    color: $theme-text-color;
    margin-bottom: 16px;
  }

  .el-tabs__active-bar {
    background-color: #4DE2F0;
  }
  .el-tabs__nav-wrap::after {
    background-color: #2E2E2E;
    height: 1px;
  }

  .el-tabs__item {
    border: none;
    transition: border 0.3s;
    color: #ddd;
    text-transform: uppercase;
    font-weight: bold;

    &:hover, &.is-active {
      color: #4DE2F0;
    }
  }
}