:export {
  themeColor: $theme-color-primary;
  // chart basic setting
  textColor: $theme-text-color;
  xAxisLabelColor: $theme-text-color;
  yAxisLabelColor: $theme-text-color;
  splitLineColor: #52696A;
  xAxisColor: #A7A7A7;
  yAxisColor: #A7A7A7;
  borderColor: $theme-line-color;
  backgroundColor: rgba(0, 0, 0, 0.75);
  markLineColor: #006464;

  // average-bar-chart
  minValueColor: #EB5959;
  maxValueColor: #6DCDCF;
  averageBarColor: #E0E0E0;
  averageLineColor: #006464;

  // chart fill color (2 color)
  chartCoupleColor: #498BF5;

  // chart fill color ( 3 - 5 group)
  darkestChartColor: #6245FF;
  darkerChartColor: #4F7BF7;
  basicChartColor: #4A9FF4;
  lighterChartColor: #4BCBF1;
  lightestChartColor: #78F5F7;

  // chart color list (more than 5 group)
  chartColorList-1: #44D2FF;
  chartColorList-2: #6B48FF;
  chartColorList-3: #C64DFF;
  chartColorList-4: #FF815A;
  chartColorList-5: #FFDE52;
  chartColorList-6: #45FFFF;
  chartColorList-7: #45A7FF;
  chartColorList-8: #9E4AFF;
  chartColorList-9: #FF5E33;
  chartColorList-10: #FFB357;
  chartColorList-11: #C7FF4D;
  chartColorList-12: #4AFFB5;

  // confidential interval related color
  normalValueColor: #FFFFFF;
  anomalousValueColor: #FF5C46;
  intervalLineColor: #44D2FF;
  intervalAreaColor: #44D2FF;
}
