:export {
  themeColor: $theme-color-primary;
  // chart basic setting
  textColor: $theme-text-color;
  xAxisLabelColor: $theme-text-color;
  yAxisLabelColor: $theme-text-color;
  splitLineColor: #52696A;
  xAxisColor: #cccccc;
  borderColor: $theme-line-color;
  backgroundColor: rgba(0, 0, 0, 0.75);
  markLineColor: #006464;

  // average-bar-chart
  minValueColor: #EB5959;
  maxValueColor: #6DCDCF;
  averageBarColor: #E0E0E0;
  averageLineColor: #006464;

  // chart fill color (2 color)
  chartCoupleColor: #498BF5;

  // chart fill color ( 3 - 5 group)
  darkestChartColor: #6245FF;
  darkerChartColor: #4F7BF7;
  basicChartColor: #4A9FF4;
  lighterChartColor: #4BCBF1;
  lightestChartColor: #78F5F7;

  // chart color list (more than 5 group)
  chartColorList-1: #44D2FF;
  chartColorList-2: #00A3FF;
  chartColorList-3: #6C55FA;
  chartColorList-4: #9A6EEA;
  chartColorList-5: #CA66DA;
  chartColorList-6: #E05889;
  chartColorList-7: #FF9559;
  chartColorList-8: #FFCD4C;
  chartColorList-9: #EDF86C;
  chartColorList-10: #07E8B2;
  chartColorList-11: #00FFF0;
  chartColorList-12: #ffffff;
}
