@import '../common/variables.scss';
@import '../common/composes/texts.scss';
.sy-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -10px;
  padding: 24px 0;
  
  .sy-block {
    margin: 10px;
  }

  > .sy-block:last-child {
    margin-bottom: 0;
  }
}
