.sy-table {
  border: 1px solid #bababa;
  border-radius: 4px;

  &.el-table {
    color: #323232;

    &:before {
      content: unset;
    }

    td {
      border-color: #ddd;
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }

  }
}